body{
    background-color: white;
    color: rgb(31, 31, 31);
}
.container-info{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

ul li{
    margin-left: 4rem;
}

#acept-aviso{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: rgb(89, 95, 100);
    color: white;
    border-radius: 0.4rem;
    position:fixed;
    bottom: 0.5rem;
    right: 0.5rem;
}